html, body {
    height: 100%;
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    text-align: center;
    background: #FFCB05;
    border: 2px solid #3C5AA6;
    padding: 2%;
    width: 96%;
    height: 100%
}

img {
    max-width: 100%;
    height: auto;
}

div {
    width: 100%;
}