html, body {
    background-color: #C7A008;
    border: solid red;

    margin: 0;
    padding: 0;
    
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    border: yellow solid 5px;
    height: 100vh;
    width: 100%;
}

.row {
    display: flex;
    justify-content: flex-start;
    /* flex-wrap is what stops it from going out of the cotainers bounds */
    flex-wrap: wrap;
    border: solid blueviolet;
}