a:link, a:visited {
    background-color: #3C5AA6;
    color: black;
    text-decoration: none;
    padding: 14px 25px;
    text-align: center;
    display: inline-block;

    /* This is how i got the rounded corners VV*/
    border-radius: 55px;
    border: 1px solid #3C5AA6
}

a:hover, a:active {
    background-color: #5a7cd1;
}

.grid-container {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 10px;

    /* This moves it farther from the header*/
    padding: 1%;

    justify-content: center;
}

li {
    list-style: none;
}

body {
    margin: 0%;
    background-color: #C7A008;
}