html {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #C7A008;
}

.grid-container {
    /* Makes 4 equal columns */
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 10px;

    /* This moves it farther from the header*/
    padding: 1%;
}

ul {
    list-style-type: none;
    margin: auto;
}

a:link, a:visited {
    background-color: #3C5AA6;
    color: black;
    text-decoration: none;
    padding: 14px 25px;
    text-align: center;
    display: inline-block;

    /* This is how i got the rounded corners VV*/
    border-radius: 55px;
    border: 1px solid #3C5AA6
}

a:hover, a:active {
    background-color: #5a7cd1;
}

#root {
    min-height: 100vh;
}

.Region {
    text-align: center;
}